<div class = "vertical">
    <p>Glenmont</p>
    <p>Wheaton</p>
    <p>Forest Glen</p>
    <p>Silver Spring</p>
    <p>Takoma</p>
    <p>Brookland-CUA</p>
    <p>Rhode Island Ave</p>
    <p>NoMa-Gallaudet U</p>
    <p>Union Station</p>
    <p>Judiciary Square</p>
    <p>Gallery Place</p>
    <p>Metro Center</p>
    <p>Farragut North</p>
    <p>Dupont Circle</p>
    <p>Woodley Park</p>
    <p>Cleveland Park</p>
    <p>Van Ness-UDC</p>
    <p>Tenletyown-AU</p>
    <p>Friendship Heights</p>
    <p>Bethesda</p>
    <p>Medical Center</p>
    <p>Grosvenor-Strathmore</p>
    <p>White Flint</p>
    <p>Twinbrook</p>
    <p>Rockville</p>
    <p>Shady Grove</p>
</div>