<div class = "vertical">
    <ul>
        <li *ngFor="let station of yellowLineStations | stationFilter: filterArgs" class="station-name">
            <p>{{station.name}}</p>
            <div *ngIf="station.transferLines.includes('green')">🟢</div>
            <div *ngIf="station.transferLines.includes('orange')">🟠</div>
            <div *ngIf="station.transferLines.includes('silver')">⚪</div>
            <div *ngIf="station.transferLines.includes('blue')">🔵</div>
            <div *ngIf="station.transferLines.includes('red')">🔴</div>

        </li>
    </ul>
</div>